# Dependency Management (uv/pip)
.venv/
__pypackages__/
.eggs/
*.egg-info/

# Build/Distribution Artifacts
dist/
build/
*.spec

# Test/Coverage Artifacts
.pytest_cache/
htmlcov/
.coverage

# IDE & Editor Files
.idea/
*.swp
*.tmp
.vscode/

# Logging and Runtime Data
*.log
*.pid

# GitHub Actions Cache & Artifacts
.github/workflows/*.lock
.github/actions_cache/

# Ruff Cache
.ruff_cache/

# Python Bytecode
*.pyc
__pycache__/

# Temporary files
*~
# Actionsflow specific files
.actionsflow-cache/